.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  margin-left: -6px;
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    max-width: 100%;
  }

  .actions {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
}

